build
coverage
dist
dist-ssr
logs
out
node_modules
public/dist
server/dist
storybook-static
tests/e2e/report
tests/e2e/results

pnpm-lock.yaml

.cache
.DS_Store
.env
.idea
.next
.pnp
.tmp
.temp
.turbo

*.d.ts
*.drawio.bkp
*.local
*.log
*.njsproj
*.ntvs*
*.sln
*.suo
*.sw?
*.tsbuildinfo
